.contact{
margin-bottom: 170px;
margin-left: 30px;
  &__title{
    margin-top: 200px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: -50px;
    margin-left: 510px;
  }

  &-box{
    @include base-flex;

    &__img{
      max-width: 477px;
      width: 100%;
      margin-right: 40px;
    }

    &_heading{

      &__text{
        @include base-heading2;
        color: $text-color;
        max-width: 776px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      &__label{
        display: inline-block;

        &-email{
          border-radius: 10px;
          padding: 26px  150px 30px 33px;
          border: solid 1px #8F95A5;
          outline: none;

          &::placeholder{
            color: #8F95A5;
          }

        }
        
        &-submit{
          margin-left: 12px;
          @include base-heading2;
          background-color:#263238;
          color: white;
          padding: 20px 71px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width:1179px) {
  
  .contact{

    &__title{
        font-size: 40px;
        text-align: center;
        margin-left: 90px;
      }
    
      &-box{
    
        &__img{
          max-width: 380px;
          width: 100%;
          margin-right: 30px;
        }
    
        &_heading{
    
          &__text{
            max-width: 706px;
            width: 100%;
            font-size: 18px;
          }
    
          &__label{
    
            &-email{
              border-radius: 10px;
              padding: 26px 130px 30px 30px;
    
            }
            
            &-submit{
              margin-left: 10px;
              font-size: 18px;
              padding: 20px 40px;
            }
          }
        }
      }
    }
}

@media screen and(max-width:992px) {
  .contact{

    &__title{
        font-size: 36px;
        margin-left: -30px;
        margin-bottom: -30px;
      }
    
      &-box{
    
        &__img{
          max-width: 300px;
          width: 100%;
          height: 281px;
        }
    
        &_heading{
    
          &__text{
            font-size: 16px;
            max-width: 436px;
            width: 100%;
          }
    
          &__label{
    
            &-email{
              font-size: 14px;
              border-radius: 10px;
              padding: 23px 100px 16px 30px;
    
            }
            
            &-submit{
              margin-left: 10px;
              font-size: 16px;
              padding: 16px 40px 11px 40px;
            }
          }
        }
      }
    }

}


@media screen and (max-width:830px) {
  
  .contact{
    margin-left: 80px;
    &__title{
        font-size: 30px;
        margin-bottom: 0px;
        margin-left: -20px;
    }
    
      &-box{
    
        &__img{
          max-width: 200px;
          height: 211px;
        }
    
        &_heading{
    
          &__text{
            font-size: 16px;
            max-width: 406px;
            width: 100%;
            margin-bottom: 10px;
          }
    
          &__label{
    
            &-email{
              font-size: 14px;
              border-radius: 10px;
              padding: 23px 80px 16px 30px;
            }
            
            &-submit{
              margin-left: 10px;
              font-size: 16px;
              padding: 16px 40px 11px 40px;
              border: none;
            }
          }
        }
      }
    }
}

@media screen and(max-width:787px) {
  
  .contact{

    &__title{
        font-size: 30px;
        margin-left: 60px;
    }
    
      &-box{
    
        &__img{
          max-width: 200px;
          height: 191px;
        }
    
        &_heading{
    
          &__text{
            margin-top: 0;
            font-size: 14px;
            max-width: 336px;
            width: 100%;
            margin-bottom: 10px;
          }
    
          &__label{
    
            &-email{
              font-size: 12px;
              border-radius: 5px;
              padding: 16px 50px 16px 10px;
            }
            
            &-submit{
              border-radius: 5px;
              margin-left: 6px;
              font-size: 16px;
              padding: 11px 10px 11px 10px;
              border: none;
            }
          }
        }
      }
    }


}

@media screen and (max-width:575px) {
  
  
  .contact{

    &__title{

        font-size: 30px;
        margin-left: -20px;
        margin-bottom: 30px;
    }
    
      &-box{
        margin-left: 20px;
        flex-direction: column;

        &__img{
          max-width: 358px;
          height: 322px;
          margin-left: 20px;
        }
    
        &_heading{
    
          &__text{
            text-align: center;
            margin-top: 0;
            font-size: 16px;
            max-width: 336px;
            width: 100%;
            margin-bottom: 60px;
          }
    
          &__label{
            margin-left: 0px;

            &-email{
              font-size: 13px;
              border-radius: 5px;
              margin-left: 0px;
              padding: 20px 80px 20px 10px;
            }
            
            &-submit{
              border-radius: 10px;
              margin-left: -10px;
              font-size: 13px;
              padding:  14px 16px 15px 16px;
              border: none;
            }
          }
        }
      }
    }
}

@media screen and (max-width:381px) {


  .contact{
    margin-top: -230px;
    &__title{
        
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    
      &-box{
        margin-left: 20px;
        flex-direction: column;

        &__img{
          max-width: 358px;
          height: 322px;
          margin-left: 50px;
        }
    
        &_heading{
    
          &__text{
            text-align: center;
            margin-top: 0;
            font-size: 16px;
            max-width: 336px;
            width: 100%;
            margin-left: 20px;
            margin-bottom: 60px;
          }
    
          &__label{
            margin-left: 20px;
            margin-left: 30px;

            &-email{
              font-size: 13px;
              border-radius: 5px;
              margin-left: 0px;
              padding: 20px 80px 20px 10px;
            }
            
            &-submit{
              display: block;
              margin-top: 10px;
              border-radius: 10px;
              margin-left: 0px;
              font-size: 13px;
              padding: 20px 180px 20px 10px;
              border: none;
            }
          }
        }
      }
    }  

}