.contact{
width: 1260px;
margin-left: auto;
margin-right: auto;
margin-bottom: 170px;
  &__title{

    font-size: 48px;
    font-weight: 600;
    margin-bottom: -50px;
    text-align: center
  }

  &-box{
    @include base-flex;

    &__img{
      max-width: 477px;
      width: 100%;
      margin-right: auto;
    }

    &_heading{
      max-width: 100%;
      &__text{
        @include base-heading2;
        color: $text-color;
        max-width: 776px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      &__label{
        max-width: 776px;
        display: inline-block;

        &-email{
          max-width: 400px;
          border-radius: 10px;
          padding: 26px  180px 30px 33px;
          border: solid 1px #8F95A5;
          outline: none;

          &::placeholder{
            color: #8F95A5;
          }

        }
        
        &-submit{
          margin-left: 12px;
          max-width: 246px;
          @include base-heading2;
          background-color:#263238;
          color: white;
          padding: 20px 71px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and(max-width:992px) {
  .contact{
    width: 929px;
    margin-left: auto;
    margin-right: auto;

    &__title{
        font-size: 36px;
        margin-bottom: -30px;
        margin-left: 110px;
      }
    
      &-box{
    
        &__img{
          max-width: 300px;
          width: 100%;
          height: 281px;
        }
    
        &_heading{
    
          &__text{
            font-size: 16px;
            max-width: 436px;
            width: 100%;
          }
    
          &__label{
    
            &-email{
              font-size: 14px;
              border-radius: 10px;
              padding: 23px 120px 16px 30px;
    
            }
            
            &-submit{
              margin-left: 10px;
              font-size: 16px;
              padding: 16px 40px 11px 40px;
            }
          }
        }
      }
    }

}



@media screen and(max-width:767px) {
  
  .contact{
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    
    &__title{
        font-size: 30px;
        margin-left: 160px;
        margin-top: 80px;
    }
    
      &-box{
    
        &__img{
          max-width: 233px;
          height: 210px;
          margin-left: 30px;
          margin-right: 80px;
        }
    
        &_heading{
    
          &__text{
            margin-top: 0;
            font-size: 14px;
            max-width: 406px;
            width: 100%;
            margin-top: 20px; 
            margin-bottom: 10px;
          }
    
          &__label{
    
            &-email{
              font-size: 12px;
              border-radius: 5px;
              padding: 16px 50px 16px 10px;
            }
            
            &-submit{
              border-radius: 5px;
              margin-left: 6px;
              font-size: 16px;
              padding: 11px 10px 11px 10px;
              border: none;
            }
          }
        }
      }
    }


}

@media screen and (max-width:575px) {
  .contact{
    width: 535px;
    margin-left: auto;
    margin-right: auto;

    &__title{

        font-size: 30px;
        margin-left: -20px;
        margin-bottom: 30px;
    }
    
      &-box{
        margin-left: 20px;
        flex-direction: column;

        &__img{
          max-width: 358px;
          height: 322px;
          margin-left: 20px;
        }
    
        &_heading{
    
          &__text{
            text-align: center;
            margin-top: 0;
            font-size: 16px;
            max-width: 336px;
            width: 100%;
            margin-bottom: 60px;
          }
    
          &__label{
            margin-left: 0px;

            &-email{
              font-size: 13px;
              border-radius: 5px;
              margin-left: 0px;
              padding: 20px 80px 20px 10px;
            }
            
            &-submit{
              border-radius: 10px;
              margin-left: -10px;
              font-size: 13px;
              padding:  14px 16px 15px 16px;
              border: none;
            }
          }
        }
      }
    }
}

@media screen and (max-width:461px) {
  .contact{
    margin-top: -30px;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    &__title{
        
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    
      &-box{
        margin-left: 20px;
        flex-direction: column;

        &__img{
          max-width: 358px;
          height: 322px;
          margin-left: 50px;
        }
    
        &_heading{
    
          &__text{
            text-align: center;
            margin-top: 0;
            font-size: 16px;
            max-width: 336px;
            width: 100%;
            margin-left: 20px;
            margin-bottom: 60px;
          }
    
          &__label{
            margin-left: 60px;

            &-email{
              font-size: 13px;
              border-radius: 5px;
              margin-left: 0px;
              padding: 20px 80px 20px 10px;
            }
            
            &-submit{
              display: block;
              margin-top: 10px;
              border-radius: 10px;
              margin-left: 0px;
              font-size: 13px;
              padding: 20px 180px 20px 10px;
              border: none;
            }
          }
        }
      }
    }  

}

@media screen and (max-width:320px) {
  .contact{
    margin-top: -30px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;

    &__title{    
        font-size: 24px;
        margin-bottom: 4  0px;
    }
    
      &-box{
        &__img{
          max-width: 258px;
          height: 222px;
          margin-left: 50px;
        }
    
        &_heading{
    
          &__text{
            text-align: center;
            margin-top: 0;
            font-size: 16px;
            max-width: 336px;
            width: 100%;
            margin-left: 0px;
            margin-bottom: 60px;
          }
    
          &__label{
            margin-left: 0px;

            &-email{
              font-size: 13px;
              border-radius: 5px;
              margin-left: 0px;
              padding: 20px 80px 20px 10px;
            }
            
            &-submit{
              display: block;
              margin-top: 10px;
              border-radius: 10px;
              margin-left: 0px;
              font-size: 13px;
              padding: 20px 180px 20px 10px;
              border: none;
            }
          }
        }
      }
    }  

}