.header{
  padding-top:71px; 
  position: fixed;
  display: block;
  width: 100%;
  padding-bottom: 70px;
  background-color: #fff;
  z-index: 99;
}

.linked{
  width: 100%;
  margin-left: auto;
  @include base-flex;
  justify-content: space-between;
}

.nav{
  @include base-flex;
  max-width: 100%;
  &-logo{
    margin-right: auto;
    margin-left: 0;
  }

  &__list{
    max-width: 517px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include base-flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  &__item{
    padding: 0;
    &-link{
      text-decoration: none;
      color: $button_bg-color;
    }  
  }
  
  &__link{
    color: black;
    text-decoration: none;  
    @include base-heading1;
    padding: 17px 57px;
    border: solid 1px $button_bg-color;
    border-radius: 5px;
     
    &:hover{
      color: white;
      background-color:$button_bg-color ;
      transition: all 0.2s;
    }
    
  }
  
  .toggle{
    
    &-check,&-bars,&-xmark{
      display: none;
    }
    
  }
  
  &__label{
    width: 100%;
    margin-left: auto;
    @include base-flex;
    justify-content: space-between;
  }
  
}

@media screen and(max-width:992px) {
  
  .nav{

    &__logo{
      margin-left: 0;
    }
        
    &__link{
      padding: 14px 37px;
      font-size: 20px;
      margin-left: 15px;
    }

    &__list{
      max-width: 400px;
      font-size: 18px;
    }   
  }  
}

@media screen and(max-width:767px) {
  
  .linked{
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:#F5F5F5;
    flex-direction: column;
    align-items: center;
    transform: translateX(-1000px) ;
    transition: all 1.2s;
  }
  
  .nav{
    
    position: relative;
    
    &__logo{
      margin-left: 1  0px;
    }
    
    &__label{
      position: absolute;
      flex-direction: column;
      align-items: center;
      top: 0;
    }

    &__list{
      max-width: 200px;
      position: relative;
      left: -15px;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
    }

    &__item{
      margin-bottom: 10px;
      &-link{
        color: black;
      }
    }
    &__link{
      padding: 10px 27px;
      color: black;
  }

  .toggle{
  
    &-bars,&-check,&-xmark{
      position: absolute;
      display: inline-block;
      right: 20px;
      top: 10px;
    }
    &-check{
      visibility: hidden;
    }  
    &-xmark{
      top: 2px;  
      right: 46px;
      font-size: 30px;
      color: #39515E;
      visibility: hidden;
  }
  }  
}

input:checked ~ .toggle-bars {
  visibility: hidden;
} 

input:checked ~ .toggle-xmark{
  visibility: visible;
}

input:checked ~ .linked{
transform: translateX(0px);
}
}

@media screen and (max-width:575px) {   
  input:checked ~ .linked{
  transform: translateX(0px);
  }
}

@media screen and(max-width:320px) {

  input:checked ~ .linked{
    transform: translateX(0px);
    }  
}

 